<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Homepage - WG</title>

        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <nav>
                    <ul>
                        <li><a href ="home.html">S</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <main>


            <input type="submit" value="Cadastro " class="enviar">
            <input type="submit" value="Agenda" class="agenda">
            <input type="submit" value="Relatórios" class="relatorios">
            <input type="submit" value="Dashboard" class="dashboard">

            <a  href="/cadastro"> asasasas</a>




    </main>
        <footer>

            <p class="copyright">&copy; Serviços Gerais - WG</p>
        </footer>
    </body>
</html>